#BE
fastapi
uvicorn
sqlalchemy
asyncpg
alembic
python-dotenv
pydantic-settings
boto3
python-multipart
PyJWT
cryptography
httpx
python-ulid
requests
email-validator
passlib[bcrypt]
bcrypt==4.0.1
google-generativeai


#AI
paddleocr==3.4.0
paddlepaddle==3.2.0
sentence-transformers==5.4.1
scikit-learn==1.8.0
numpy==2.4.4
opencv-contrib-python==4.10.0.84
pillow==12.2.0
torch==2.11.0